.crop-cont {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.crop-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.bg-darker {
  background-color: #272727;
}

.bg-more-dark {
  background-color: #181818;
}

.waving:before {
  content: attr(data-hover);
  display: inline-block;
}

.waving:hover::before {
  animation-name: wave-animation;
  animation-duration: 2s; /* Lebih cepat 2 detik, lebih alami untuk melambai */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; /* Agar gerakan terlihat halus */
  transform-origin: 75% 75%; /* Penting: titik pivot di bawah/pangkal "tangan" */
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg); /* Posisi Awal */
  }
  25% {
    transform: rotate(15deg); /* Gerak ke kanan/atas */
  }
  50% {
    transform: rotate(-10deg); /* Gerak ke kiri/bawah */
  }
  75% {
    transform: rotate(15deg); /* Gerak kembali ke kanan/atas */
  }
  100% {
    transform: rotate(0deg); /* Kembali ke posisi awal, siap mengulang */
  }
}
