.crop-cont{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.crop-cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.bg-darker{
    background-color: #272727;
}

.bg-more-dark{
    background-color: #181818;
}